<%-include("partials/header.ejs")%>
<div class="container mt-3">
  <%if(erro){%>
    <p class="text-danger text-center fw-bold mb-3">Ops! algo deu errado!</p>
  <%}%>
  <div class="row row-cols-1 row-cols-sm-3 g-2">
    <div class="col">
    <div class="card d-flex bg-light justify-content-center align-content-center" style="max-width: 18rem;">
        <a href="/clientes"><img src="images/cliente.png" class="card-img-top" alt="icone cliente"></a>
        <div class="card-body">
          <a href="/clientes" class="text-muted card-title">Clientes</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card d-flex bg-light justify-content-center align-content-center" style="max-width: 18rem;">
        <a href="/armazens"><img src="images/armazem.png" class="card-img-top" alt="icone armazem"></a>
        <div class="card-body">
          <a href="/armazens" class="text-muted card-title">Armazém</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card d-flex bg-light justify-content-center align-content-center" style="max-width: 18rem;">
        <a href="/fechamentos"><img src="images/fechamento.png" class="card-img-top" alt="icone fechamento"></a>
        <div class="card-body">
          <a href="/fechamentos" class="text-muted card-title">Fechamento</a>
        </div>
    </div>
  </div>
  </div>
</div>
<%-include("partials/footer.ejs")%>