.login{
  width: 400px !important;
}

.form-cadastro{
  max-width: 600px !important;
}

.nunito_font400{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.titulo_fechamento{
  font-size: 18px;
}

.logo_fechamento{
  width: 60px;
}

.cabecalho{
  width: 70%;
}

.data_fechamento{
  text-align: right;
}

.titulo_fechamento{
  font-size: 16px;
}

.container_dados{
  height: 80px;
}

.table-responsive{
  height: 500px;
  overflow: scroll;   
}

.table-responsive thead{
  height: 60px;
  font-weight: 600;
}

.table-responsive tr,td{
  vertical-align: middle;
}

.table-responsive tr,td a{
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.table-responsive tbody td a:hover{
  color: darkred;
}

.obs {
  font-size: 12px;
}

.fechamento {
  font-size: 20px;
}